// В этом файле должны быть стили для БЭМ-блока social, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.social {
  display: flex;

  @include reset-list();
}

.social__item {
  &:not(:first-child) {
    margin-left: -1px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 68px;

  background-color: lighten(black, 10);
  border: 1px solid rgba($alter-bg-color, 0.1);
  will-change: transform;
  transition: transform 0.2s ease-in;

  &:hover,
  &:focus {
    position: relative;
    z-index: 2;

    border-color: rgba($alter-bg-color, 0.3);

    transform: translateY(-5px);
    transition: transform 0.2s ease-out;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (max-width: $tablet-width  - 1px) {
  .social {
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }

  .social__item {
    margin-bottom: 20px;

    &:not(:first-child) {
      margin-left: 0;
    }
  }
}
