// В этом файле должны быть стили для БЭМ-блока new-products, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.new-products__title {
  margin: 0;
}

.new-products__name {
  margin: 0;
}

.new-products__table {
  border-collapse: collapse;
  font-weight: 700;
  color: $head-text-color;
  text-transform: uppercase;
}

.new-products__composition {
  margin: 0;

  font-size: calc(var(--text-size) - 2px);
  line-height: calc(var(--text-lh) - 6px);
}

.new-products__price {
  line-height: calc(var(--text-lh) - 10px);
  color: $head-text-color;
}
