//- Все примеси в этом файле должны начинаться c имени блока (new-products)

mixin new-products(classes)

  //- Принимает:
  //-   classes    {string} - список классов
  //- Вызов:
        +new-products('some-class')

  -
    // список модификаторов
    let allClasses = '';
    if(typeof(classes) !== 'undefined' && classes) {
      for (let item of classes.split(',')) {
        allClasses = allClasses + item.trim();
      }
    }

  section(class=`${allClasses.length > 0 ?`${allClasses} `: `` }new-products`)&attributes(attributes)
    h2.new-products__title Новинки
    article.new-products__article
      h3.new-products__name Вахтёр
      table.new-products__table
        tr
          th Алк.
          td < 1%
        tr
          th Ккал
          td 35
      p.new-products__composition Ржаной хлеб, Вода, Солод, Соль
      img.new-products__img(src='/', alt='Вахтёр')
      p.new-products__description Терпкий и мощный, вкус этого кваса взбодрит после тяжёлого дня и придаст сил для вечерних приключений!
      +btn('Подробнее','new-products__link')(href='/')
      +btn('Купить','new-products__buy-link')(href='/', class='btn--dark')
      b.new-products__price 150 Р.
    article.new-products__article
      h3.new-products__name Романтик
      table.new-products__table
        tr
          th Алк.
          td < 0,5%
        tr
          th Ккал
          td 27
      p.new-products__composition Ячменный хлеб, Вода, Солод, Апельсин
      img.new-products__img(src='/', alt='Романтик')
      p.new-products__description Лёгкий и освежающий напиток поможет сохранять отличное настроение в течение всего дня.
      +btn('Подробнее','new-products__link')(href='/')
      +btn('Купить','new-products__buy-link')(href='/', class='btn--dark')
      b.new-products__price 90 Р.
