// В этом файле должны быть стили для БЭМ-блока new-products, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.new-products {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  padding-top: var(--main-indent);
  padding-bottom: calc(var(--main-indent) + 30px);
}

.new-products__title {
  flex-basis: 100%;
  margin: 0 0 75px;
}

.new-products__article {
  display: grid;
  flex-basis: 50%;
  align-content: start;
  align-items: center;
  margin: 0 auto;
  padding-right: 25px;
  padding-left: 35px;

  column-gap: 5px;

  border-right: 1px solid rgba($main-text-color, 0.3);
  border-left: 1px solid rgba($main-text-color, 0.3);

  grid-template-columns: 147px 110px auto;
  justify-items: start;

  &:nth-child(odd) {
    border-left: none;
  }
}

.new-products__name {
  margin: 0 0 25px;

  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.new-products__table {
  min-width: 150px;
  margin-bottom: 10px;

  border-collapse: collapse;
  font-weight: 700;
  color: $head-text-color;
  text-transform: uppercase;

  grid-column: 2 / 4;
  grid-row: 2 / 3;
  justify-self: end;

  & td {
    padding: 5px 10px;

    border: 1px solid rgba($main-text-color, 0.5);
  }
}

.new-products__composition {
  max-width: 150px;
  margin: 0;

  font-size: calc(var(--text-size) - 2px);
  line-height: calc(var(--text-lh) - 6px);

  grid-column: 2 / 4;
  grid-row: 3 / 4;
  justify-self: end;
}

.new-products__article picture {
  z-index: -1;

  grid-column: 1 / 4;
  grid-row: 2 / 5;
  justify-self: center;
}

.new-products__img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.new-products__description {
  margin: 0 0 60px;

  grid-column: 1 / 4;
}

.new-products__price {
  line-height: calc(var(--text-lh) - 10px);
  color: $head-text-color;

  justify-self: center;
}

@media (max-width: $desktop-width - 1px) {
  .new-products {
    padding-right: calc(var(--main-indent) - 20px);
    padding-left: calc(var(--main-indent) - 20px);
  }

  .new-products__article {
    padding-right: 10px;
    padding-left: 10px;

    border: none;

    &:nth-child(odd) {
      border-left: 1px solid rgba($main-text-color, 0.3);
    }
  }

  .new-products__composition {
    font-size: var(--text-size);
    line-height: var(--text-lh);
  }

  .new-products__img {
    width: 80%;
  }

  .new-products__description {
    margin: 0 0 30px;
  }

  .new-products__link,
  .new-products__buy-link {
    justify-self: stretch;
  }
}

@media (max-width: $tablet-width  - 1px) {
  .new-products {
    flex-direction: column;
    padding-right: calc(var(--main-indent) - 10px);
    padding-bottom: var(--main-indent);
    padding-left: calc(var(--main-indent) - 10px);
  }

  .new-products__title {
    margin-bottom: 30px;
  }

  .new-products__article {
    margin-bottom: 30px;
    padding: 0;

    border: none;

    grid-template-columns: 4fr 3fr 1fr;

    &:nth-child(odd) {
      border: none;
    }
  }

  .new-products__name {
    justify-self: end;
  }

  .new-products__table {
    width: 100%;

    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  .new-products__composition {
    max-width: none;
    margin-bottom: 10px;

    grid-column: 1 / -1;
    grid-row: 4 / 5;
    justify-self: start;
  }

  .new-products__article picture {
    width: 80%;

    grid-column: 1 / -1;
    grid-row: 1 / 3;
    justify-self: center;
  }

  .new-products__description {
    margin-bottom: 10px;
  }
}
