// В этом файле должны быть стили для БЭМ-блока theory, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.history {
  max-width: 800px;
  margin: 0 auto;
  padding-top: var(--main-indent);
  padding-bottom: var(--main-indent);
}

.history__title {
  margin: 0 0 60px;
}

.history__list {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.history__term {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.history__subtitle {
  margin: 0 20px 0 0;
}

.history__source {
  flex-shrink: 0;
}

.history__link {
  color: $accent-color;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $accent-color-hover;
  }

  &:active {
    opacity: 0.3;
  }
}

.history__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 60px;

  &:last-child {
    margin-bottom: 0;
  }
}

.history__text {
  flex-basis: 490px;
  margin: 0;
}

.history__img {
  display: block;
  width: 200px;
  height: 101px;

  border-radius: 5px;
}

@media (max-width: $desktop-width - 1px) {
  .history {
    padding-right: calc(var(--main-indent) - 20px);
    padding-left: calc(var(--main-indent) - 20px);
  }

  .history__title {
    margin: 0 0 30px;
  }

  .history__description {
    align-items: start;
    margin: 0 0 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .history__text {
    flex-basis: auto;
  }
}

@media (max-width: $tablet-width  - 1px) {
  .history {
    padding-right: calc(var(--main-indent) - 10px);
    padding-left: calc(var(--main-indent) - 10px);
  }

  .history__term {
    flex-direction: column;
  }

  .history__img {
    margin-bottom: 20px;
  }

  .history__description {
    flex-direction: column;
  }

  .history__text {
    order: 1;
  }
}
