@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin retina-bg($image, $ext) {
  background-image: url('../img/' + $image + '@1x.' + $ext);

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url('../img/' + $image + '@2x.' + $ext);
  }
}
