$white: #fff;
$black: #000;
$main-text: #8e80a9;
$main-bg: #fcf8fe;

$font: "Sample", -apple-system, blinkmacsystemfont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif !default;
$font-size: 10px;
$line-height: 150%;

$mobile-indent: 35px;
$tablet-indent: 78px;
$desktop-indent: 275px;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-size-m: 12px;
$font-size-l: 16px;
