// В этом файле должны быть стили для БЭМ-блока press, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.press {
  display: grid;
  padding-top: 80px;
  padding-bottom: 90px;

  background-color: $neutral-bg-color;

  grid-template-columns: auto minmax(min-content, 800px) auto;
}

.press__title {
  margin: 0 0 75px;

  grid-column: 2 / 3;
}

.press__blockquote {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;

  grid-column: 2 / 3;
}

.press__text {
  flex-basis: 90%;
  order: 1;
  margin: 0 0 35px;

  letter-spacing: 0.1px;
}

.press__author {
  order: 3;

  font-weight: 700;
  font-size: var(--text-size-l);
  line-height: var(--text-lh-l);
  color: $head-text-color;
  text-transform: uppercase;
  font-style: normal;
}

.press__link {
  order: 2;
}
