// В этом файле должны быть стили для БЭМ-блока press, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.press {
  background-color: $neutral-bg-color;
}

.press__title {
  margin: 0;
}

.press__blockquote {
  margin: 0;
}

.press__text {
  margin: 0;
}

.press__author {
  font-weight: 700;
  font-size: var(--text-size-l);
  line-height: var(--text-lh-l);
  color: $head-text-color;
  text-transform: uppercase;
  font-style: normal;
}
