// В этом файле должны быть стили для БЭМ-блока copyright, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.copyright {
  color: lighten($main-text-color, 20);
  font-size: calc(var(--text-size) - 2px);
}

.copyright__img {
  display: block;
  width: 27px;
  height: 34px;
}

.copyright__link {
  color: lighten($main-text-color, 20);
}
