// В этом файле должны быть стили для БЭМ-блока copyright, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.copyright {
  color: lighten($main-text-color, 20);
  font-size: calc(var(--text-size) - 2px);
  display: flex;
  align-items: center;
}

.copyright__link {
  color: lighten($main-text-color, 20);
  position: relative;
  width: 72px;
  height: 68px;
  background-color: lighten(black, 10);
  border: 1px solid rgba($alter-bg-color, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__img {
  display: block;
  width: 27px;
  height: 34px;
}

.copyright__text {
  margin-left: 40px;
}
