//- Все примеси в этом файле должны начинаться c имени блока (page-header)

mixin page-header(classes)

  //- Принимает:
  //-   classes  {string} - список классов
  //- Вызов:
        +page-header()
          p «Шапка»
  -
    //- список модификаторов
    let allClasses = '';
    if (typeof (classes) !== 'undefined' && classes) {
      let classesList = classes.split(',');
      for (let item of classesList) {
        allClasses = allClasses + item.trim();
      }
    }

  header.page-header(class=allClasses)&attributes(attributes)
    block
