.checkbox {
  display: block;
}

.checkbox__name {
  position: relative;

  padding-left: 55px;

  font-weight: 700;
  color: $head-text-color;
  text-transform: uppercase;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 35px;
    height: 35px;

    background-color: rgba(black, 0.1);
  }
}

.checkbox__input {
  margin: 0;

  appearance: none;

  &:checked ~ .checkbox__name::after {
    content: "¬";
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;

    font-size: calc(var(--text-size-l) + 5px);

    transform: rotate(135deg);
  }
}
