// В этом файле должны быть стили для БЭМ-блока order, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.order {
  display: grid;
  padding-top: 80px;
  padding-bottom: 110px;

  background-color: $alter-bg-color;

  grid-template-columns: auto minmax(min-content, 800px) auto;
}

.order__title {
  margin: 0 0 70px;

  grid-column: 2 / 3;
}

.order__text {
  max-width: 650px;
  margin: 0 0 75px;

  grid-column: 2 / 3;
}

.order__form {
  grid-column: 2 / 3;
}
