// В этом файле должны быть стили для БЭМ-блока order, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.order {
  display: grid;
  padding-top: var(--main-indent);
  padding-bottom: calc(var(--main-indent) + 30px);

  background-color: $alter-bg-color;

  grid-template-columns: 1fr minmax(min-content, 800px) 1fr;
}

.order__title {
  margin: 0 0 70px;

  grid-column: 2 / 3;
}

.order__text {
  max-width: 650px;
  margin: 0 0 75px;

  grid-column: 2 / 3;
}

.order__form {
  grid-column: 2 / 3;
}

@media (max-width: $desktop-width - 1px) {
  .order__title {
    margin: 0 0 30px;
    padding-right: calc(var(--main-indent) - 20px);
    padding-left: calc(var(--main-indent) - 20px);
  }

  .order__text {
    margin: 0 0 40px;
    padding-right: calc(var(--main-indent) - 20px);
    padding-left: calc(var(--main-indent) - 20px);
  }

  .order__form {
    padding-right: calc(var(--main-indent) - 20px);
    padding-left: calc(var(--main-indent) - 20px);
  }
}

@media (max-width: $tablet-width  - 1px) {
  .order__title {
    margin: 0 0 30px;
    padding-right: calc(var(--main-indent) - 10px);
    padding-left: calc(var(--main-indent) - 10px);
  }

  .order__text {
    margin: 0 0 40px;
    padding-right: calc(var(--main-indent) - 10px);
    padding-left: calc(var(--main-indent) - 10px);
  }

  .order__form {
    padding-right: calc(var(--main-indent) - 10px);
    padding-left: calc(var(--main-indent) - 10px);
  }
}
