// В этом файле должны быть стили для БЭМ-блока order, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.order {
  display: grid;
  padding-top: var(--main-indent);
  padding-bottom: calc(var(--main-indent) + 30px);

  background-color: $alter-bg-color;

  grid-template-columns: 1fr minmax(min-content, 800px) 1fr;
}

.order__title {
  margin: 0 0 70px;

  grid-column: 2 / 3;
}

.order__text {
  max-width: 650px;
  margin: 0 0 75px;

  grid-column: 2 / 3;
}

.order__form {
  grid-column: 2 / 3;
}
