extends ../pug/layout.pug

block meta
  meta(name='description', content='Крафтовый квас')
  title КВАСТ

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +logo('/', 'page-header__logo')
    picture
      source(type='image/webp', srcset='img/logo.webp')
      img.logo__img.lazyload(data-src='img/logo.png', width='140', height='76', alt='Кваст', loading='lazy')
  +main-nav('page-header__nav')
    button.main-nav__toggle(type='button', aria-label='Открыть/закрыть меню')
      span
    +site-list('main-nav__list')
  p.page-header__slogan Крафтовый квас<br> всему голова!

block content
  h1.visually-hidden Крафтовый квас Кваст
  +new-products('section')
  +features()
  +history()
  +press()
  +assortment()
    +tr('Название, Алк., Ккал, Объём, Стоимость', true)
    +tr('Классика, < 1,2%, 33, 330 мл, 120 Р.')
    +tr('Шабаш, > 1,2%, 45, 330 мл, 250 Р.')
    +tr('Вахтёр, < 1%, 35, 0,5 л, 150 Р.', false, true)
    +tr('Романтик, < 0,5%, 27, 0,5 л, 90 Р.', false, true)
  +order()
    +form('order__form','POST','/')
      +field-text({
        label: 'Представьтесь:',
        side: 'up',
        classes: 'form__field',
        attrs: {
          name: 'name'
        }
      })
      +field-text({
        label: 'Номер телефона:',
        side: 'up',
        classes: 'form__field form__field--tel',
        attrs: {
          name: 'phone',
          type: 'tel',
          pattern: '\\+7\\s[0-9]{3}\\s[0-9]{3}\\s[0-9]{2}\\s[0-9]{2}',
          placeholder: '+7 XXX XXX XX XX'
        }
      })
      +field-text({
        label: 'Доп. номер:',
        side: 'up',
        classes: 'form__field form__field--tel',
        attrs: {
          name: 'second phone',
          type: 'tel',
          pattern: '\\+7\\s[0-9]{3}\\s[0-9]{3}\\s[0-9]{2}\\s[0-9]{2}',
          placeholder: '+7 XXX XXX XX XX'
        }
      })
      +field-text({
        label: 'Email:',
        side: 'up',
        classes: 'form__field',
        attrs: {
          name: 'email',
          type: 'email'
        }
      })

      +field-select('Объём заказа:', 'quantity', 'form__field')
      +field-text({
        label: 'Доп. комментарий:',
        side: 'up',
        isTextarea: true,
        classes: 'form__field form__field--textarea',
        attrs: {
          name: 'textarea',
          rows: 3
        }
      })
      +checkbox([
        {
          title: 'Я согласен получать квасную рассылку',
          classes: 'form__field form__field--checkbox',
          attrs: {
            name: 'mail',
          }
        },
      ])
      +btn('Отправить заказ', 'form__btn', true)(class='btn--alt')

block footer
  +logo('/', 'page-footer__logo')
    picture
      source(type='image/webp', srcset='img/logo.webp')
      img.logo__img.lazyload(data-src='img/logo.png', width='140', height='76', alt='Кваст', loading='lazy')
  +site-list('page-footer__nav')
  +social('page-footer__social')
    +social-link('instagram','/','Мы в инстаграме')
      svg(class='social__svg', width='14', height='14')
        use(xlink:href='img/sprite.svg#icon-insta')
    +social-link('facebook','/','Мы в фейсбуке')
      svg(class='social__svg', width='8', height='16')
        use(xlink:href='img/sprite.svg#icon-fb')
    +social-link('vk','/','Мы в контакте')
      svg(class='social__svg', width='20', height='11')
        use(xlink:href='img/sprite.svg#icon-vk')
  +copyright('page-footer__copyright')
//- block append page-bottom
//-   script(src='js/some.js')
