extends ../pug/layout.pug

block meta
  meta(name='description', content='Крафтовый квас')
  title КВАСТ

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +logo('/', 'page-header__logo')
    img.logo__img(src='/img/logo.svg', alt='Кваст')
  +main-nav()
  h1.page-header__title Крафтовый квас всему голова!

block content
  p Содержимое. #[a(href='blocks-demo.html') Библиотека блоков].
  svg(width='64', height='64')
    use(xlink:href='img/sprite.svg#logo')
  svg.svg-test(width='32', height='32')
    use(xlink:href='img/sprite.svg#icon-heart')

  +checkbox([
    {
      title: 'Чекбокс0',
      helpText: 'Подсказка',
      classes: 'lol lol2 lol3 test-checkbox',
      attrs: {
        name: 'check0',
      }
    },
  ])

  +radio([
    {
      title: 'Радиокнопка1',
      helpText: 'Подсказка',
      classes: 'kek kek1 kek2',
      attrs: {
        name: 'radio',
      }
    },
  ])

  .testpicture hi

block footer
  p «Подвал»
  p Контактный телефон: #[a(href='tel:+70000000000') +7 000 000 00 00]

//- block append page-bottom
//-   script(src='js/some.js')
