extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  p.nothing test

block content
  h1 Заголовок с каким-то эффектом
  p Содержимое. #[a(href='blocks-demo.html') Библиотека блоков].
  svg(width='64', height='64')
    use(xlink:href='img/sprite.svg#logo')
  svg.svg-test(width='32', height='32')
    use(xlink:href='img/sprite.svg#icon-heart')

  +checkbox([
    {
      title: 'Чекбокс0',
      helpText: 'Подсказка',
      classes: 'lol lol2 lol3 test-checkbox',
      attrs: {
        name: 'check0',
      }
    },
  ])

  +radio([
    {
      title: 'Радиокнопка1',
      helpText: 'Подсказка',
      classes: 'kek kek1 kek2',
      attrs: {
        name: 'radio',
      }
    },
  ])

  .testpicture hi

block footer
  p «Подвал»
  p Контактный телефон: #[a(href='tel:+70000000000') +7 000 000 00 00]

//- block append page-bottom
//-   script(src='js/some.js')
