.page-footer {
  display: grid;
  align-items: center;
  padding-top: calc(var(--main-indent) - 10px);
  padding-bottom: calc(var(--main-indent) - 20px);

  background-color: black;

  gap: 50px 90px;
  grid-template-columns: 1fr 215px minmax(min-content, 700px) 1fr;
}

.page-footer__logo {
  margin-right: 10px;

  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: center;
}

.page-footer__nav {
  max-width: 600px;

  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.page-footer__social {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.page-footer__copyright {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  justify-self: end;
}

@media (max-width: $desktop-width - 1px) {
  .page-footer {
    gap: 40px 30px;
  }

  .page-footer__logo {
    margin-right: 0;
  }
}

@media (max-width: $tablet-width  - 1px) {
  .page-footer {
    display: flex;
    flex-direction: column;
    padding-right: calc(var(--main-indent) - 10px);
    padding-left: calc(var(--main-indent) - 10px);
  }

  .page-footer__logo {
    margin-bottom: 20px;
  }

  .page-footer__nav.site-list {
    display: none;
  }

  .page-footer__copyright {
    margin-right: auto;
  }
}
