// В этом файле должны быть стили для БЭМ-блока assortment, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.assortment {
  max-width: 800px;
  margin: 0 auto;
  padding-top: calc(var(--desktop-indent) + 10px);
  padding-bottom: calc(var(--desktop-indent) + 10px);
}

.assortment__title {
  margin: 0 0 75px;
}

.assortment__table {
  width: 100%;

  border-collapse: collapse;
  text-transform: uppercase;
}

.assortment__row {
  border-bottom: 1px solid lighten($main-text-color, 50);

  &--head {
    font-size: 11px;
    color: lighten($main-text-color, 30);
    word-break: normal;
  }
}

.assortment__cell {
  padding: 18px 5px;

  text-align: left;

  &--head {
    padding-top: 0;
    padding-bottom: 30px;

    font-weight: 500;
  }

  &--new {
    position: relative;

    &::after {
      content: "Новинка";
      position: absolute;
      top: 32%;

      margin-left: 25px;
      padding: 0 5px;

      font-size: 8px;
      line-height: 13px;
      color: white;

      background-color: black;
      border-radius: 4px;
    }
  }

  &:first-child {
    width: 50%;
  }

  &:last-child {
    text-align: right;
  }

  &:not(.assortment__cell--head):first-child {
    font-weight: 700;
    color: $head-text-color;
  }
}
