// В этом файле должны быть стили для БЭМ-блока assortment, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.assortment {
  max-width: 800px;
  margin: 0 auto;
  padding-top: calc(var(--main-indent) + 10px);
  padding-bottom: calc(var(--main-indent) + 10px);
}

.assortment__title {
  margin: 0 0 75px;
}

.assortment__table {
  width: 100%;

  border-collapse: collapse;
  text-transform: uppercase;
}

.assortment__row {
  border-bottom: 1px solid lighten($main-text-color, 50);

  &--head {
    font-size: 11px;
    color: lighten($main-text-color, 30);
    word-break: normal;
  }
}

.assortment__cell {
  padding: 18px 5px;

  text-align: left;

  &--head {
    padding-top: 0;
    padding-bottom: 30px;

    font-weight: 500;
  }

  &--new {
    position: relative;

    &::after {
      content: "Новинка";
      position: absolute;
      top: 32%;

      margin-left: 25px;
      padding: 0 5px;

      font-size: 8px;
      line-height: 13px;
      color: white;

      background-color: black;
      border-radius: 4px;
    }
  }

  &:first-child {
    width: 50%;
  }

  &:last-child {
    text-align: right;
  }

  &:not(.assortment__cell--head):first-child {
    font-weight: 700;
    color: $head-text-color;
  }
}

@media (max-width: $desktop-width - 1px) {
  .assortment {
    padding-right: calc(var(--main-indent) - 20px);
    padding-left: calc(var(--main-indent) - 20px);
  }
}

@media (max-width: $tablet-width  - 1px) {
  .assortment {
    padding-right: calc(var(--main-indent) - 10px);
    padding-left: calc(var(--main-indent) - 10px);
  }

  .assortment__title {
    margin-bottom: 30px;
  }

  .assortment__row {
    &--head {
      font-size: 10px;
    }
  }

  .assortment__cell {
    padding: 12px 3px;

    font-size: calc(var(--text-size) - 1px);

    &:first-child {
      width: auto;
    }

    &--head {
      padding-bottom: 10px;
    }

    &--new {
      &::after {
        top: auto;
        bottom: 2px;
        left: 0;

        margin-left: 3px;
        padding: 0 3px;
      }
    }
  }
}
