.site-list {
  @include reset-list();

  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  font-weight: bold;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;

    height: 1px;

    background-color: rgba(white, 0.2);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.site-list__link {
  display: block;
  padding: 14px 0;

  color: $alter-text-color;

  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
