.site-list {
  @include reset-list();

  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  font-weight: bold;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 10px;
    left: 10px;

    height: 1px;

    background-color: rgba(white, 0.2);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.site-list__item {
  padding-left: 10px;
  padding-right: 10px;
}

.site-list__link {
  display: block;
  padding: 14px 0;

  color: $alter-text-color;

  border-top: 1px solid transparent;
  position: relative;
  will-change: color;
  transition: color 0.15s ease-in;

  &::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: white;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(15px);
    opacity: 0;
    will-change: transform, opacity;
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
  }

  &:hover,
  &:focus {
    color: $alter-bg-color;

    &::after {
      transform: none;
      opacity: 1;
      transition-timing-function: ease-out;
    }
  }

  &:active {
    transition: none;
    color: rgba($alter-bg-color, 0.3);
  }
}
