// В этом файле должны быть стили для БЭМ-блока form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.form {
  display: grid;
  max-width: 630px;

  column-gap: 50px;

  grid-template-columns: 1fr 1fr;
}

.form__field {
  margin-bottom: 25px;

  &:not(.form__field--tel) {
    grid-column: 1 / -1;
  }

  &--textarea {
    margin-bottom: 30px;
  }

  &--checkbox {
    margin-bottom: 40px;

    justify-self: start;
    align-self: baseline;
  }
}

.form__btn {
  justify-self: start;
}
